@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html * {
    font-family: 'Noto Sans', sans-serif;
}

nav {
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3871c1;
    min-width: 800px;
}

ul {
    list-style-type: none; /* removes bullet points from list */
    margin: 0;
    padding: 0;
}

li {
    transition-duration: 0.4s;
}

li a {
    display: block; 
    color: white;
    padding: 16px 16px;
    text-decoration: none; /* removes underline from listed links */
}

li:hover {
    cursor: pointer;
    background-color: #2b5a9b;
    border-color: white;
    border-style: solid 2px;
}

.title {
    color: white; 
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    margin-bottom: 0px;
}



div.content-basic {
    /*background-color: #83ace4;*/
    border-radius: 6px;
    background-color: #dfe6ef;
    color: black;
    margin: auto;
    
    padding: 10px;
    display:block;
    overflow: auto;
    width:60%;
    height: relative;
    min-width: 600px;
    max-width: 1000px;
    position:relative;
}

div.content-emphasis {
    /*background-color: #83ace4;*/
    border-radius: 6px;
    background-color: #0b4d9e;
    color: white;
    margin: auto;
    
    padding: 10px;
    display:block;
    overflow: auto;
    width:60%;
    height: relative;
    min-width: 600px;
    max-width: 1000px;
    position:relative;
}
.incremement-animal {
    color:white;
    font-weight: bold;
    margin: 15px;
    width: 95%;
    height: 20px;
    min-width: 560px;
    display:block;
}



.prev-image, .next-image  {
    background-color: #404040;
    color:white;
    opacity: 0;
    padding: 3px;
    cursor:pointer;
    position:absolute;
    top:50%;
    margin-left:5px;
    margin-right:5px;
}


.next-image {
    right:0;
}

.animal-main {
    display: inline-block;
    width: 40%;
    height: 36%;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.animal-main img {
    width: auto;
    height: 100%;
}

.animal-list li {
    display: block;
}

.thumbnail {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.animal-info {
    display: inline-block;
    width: 50%;
    height: 36%;
    margin: 20px;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
    min-width: 450px;
}

.animal-info p {
    color: white;
    font-size: large;
}

.description {
    margin: 20px;
    padding: 10px;
    width: 93%;
    resize: none;
    display: none;
}

.animal-info label {
    margin-top:4px;
    margin-bottom:4px;
    margin-right:8px;
    float: left;
    color: white;
    font-weight: bold;
    text-align: right;
}

.animal-info input {
    color: white;
    float: right;
    margin-bottom:4px;
    margin: 5px;
    width: 250px;
}

.animal-info button {
    margin: 5px;
    height: 22px;
}


.donate {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.donate-button {
    transition-duration: 0.4s;
    background-color: #3871C1; 
    border-radius: 12px;
    border: 1px solid black;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    width: relative;
    height: relative;
    margin:3px;
  }
.donate-button:hover {
    background-color: #305894;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #primary{
      width:100%
  }

  .secondary {
      width:50%;
  }

  .leftcolumn{
      float:left;
      justify-content: left;
      min-width: 700px;
  }

  .rightcolumn{
      float:right;
      justify-content: right;
      min-width: 700px;
  }
  /* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin: 3px;
    text-decoration: none;
    font-size: 36px;
    border-radius: 6px;
 
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-left: 3px;
    text-decoration: none;
    font-size: 36px;
    border-radius: 6px;
  }
  
.topnav b {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
    border-radius: 6px;
    margin-left: 3px;

  }
  /* Change the color of links on hover */
   .topnav a:hover {
    background-color: #026EF2
    ;
    border-radius: 6px;
    color: white;
  }

  .topnav a.active{
    background-color: #f38a0a;
    border-radius: 6px;
    color: white;
  }
  

  .HeaderImageBackground {
  
    background-color:#dfe6ef;
    border-radius: 6px;
  }

  .background{
    background-color:#dfe6ef;
    border-radius: 6px;
    padding: 10px;
  }
